# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.python-version

# Environment
.env
.venv/

# Database
**/database/*.db
**/database/*.db-wal
**/database/*.db-shm

# Logs
*.log

# IDE
.vscode/
.idea/
.cursor/
*.swp

# OS
.DS_Store
Thumbs.db

# Xcode
xcuserdata/
*.xcuserstate


# 문서
docs/
workflow/